.post_container {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 25px;
  margin: 5%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
}

.post_data {
  font-size: 1rem;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}
