header {
  min-height: 10vh;
  background-color: #d0202f;
}

header .header_inner {
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
header .header_inner h1 {
  padding-top: 15px;
  font-size: 4rem;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
