header {
  height: 10vh;
  background-color: #d0202f;
}

header div {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div h1 {
  padding: 25px;
  font-size: 4rem;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
