.projectcard_wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 2% 2%;
  padding-bottom: 15px;
  height: 25%;
  width: 45%;
  overflow: hidden;
  border-radius: 30px;
  background-color: grey;
  color: white;
}
@media (min-width: 768px) {
  .projectcard_wrapper {
    width: 45%;
  }
}
@media (min-width: 1080px) {
  .projectcard_wrapper {
    width: 30%;
  }
}

.projectcard_wrapper .projectcard_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 1000%;
  margin-top: 0;
  z-index: 10;
  text-align: center;
}
.projectcard_wrapper img {
  margin-top: 0;
  height: 60%;
}

.projectcard_wrapper span {
  font-size: 1.33rem;
  color: black;
  opacity: 0.7;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.projectcard_wrapper .projectcard_text {
  height: 40%;
  width: 100%;
  padding: 2.5%;
  overflow: visible;
  position: relative;
  /* display: none; */
}
.projectcard_wrapper .projectcard_text .text--visible {
  overflow: visible;
  position: relative;
  display: block;
}

.projectcard_wrapper .projectcard_text .projectcard_top_content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.projectcard_wrapper .projectcard_text .projectcard_top_content h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.projectcard_wrapper .projectcard_text .projectcard_top_content h5 {
  font-size: 1rem;
  white-space: nowrap;
  padding-left: 0.5%;
}
.projectcard_wrapper .projectcard_text .projectcard_top_content h5 span {
  font-size: 0.75rem;
  color: white;
  opacity: 1;
}
